.m-login__wrapper {
    padding-top: 0px !important;
}
.wrapper-bg-login {
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
}
.btn-login {
    background-color: #BAA75C !important;
    border:none !important;
}
.btn.m-btn--custom.m-btn--air {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(91,92,66,0.19) !important;
    box-shadow: 0px 5px 10px 2px rgba(91,92,66,0.19) !important;
}
.btn.m-btn--custom.m-btn--air:hover {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(91,92,66,0.30) !important;
    box-shadow: 0px 5px 10px 2px rgba(91,92,66,0.30) !important;
}
.m-brand__logo-wrapper {
    width: 400px;
    font-size: 26px;
    color:#BAA75C;
    font-weight: bold;
}
.m-brand__logo-wrapper:hover {
    color: #5B5C3F !important;
    text-decoration: none;
}
.m-header--fixed .m-brand__logo-wrapper img {
    width: 50px;
}
.m-header--minimize-on .m-brand__logo-wrapper img {
    width: auto;
}
.m-menu__item.m-menu__item--active {
    background-color: #5B5C3F;
}
li.m-menu__item.m-menu__item--active > a span, li.m-menu__item.m-menu__item--active > a i {
    color: white !important;
}
li.m-menu__item.m-menu__item--active > a i > span  {
    background-color: white !important;
}

.m-header__bottom {
    background-color: #B4A04D !important;
}
.m-menu__item-here {
    margin-top: 26px;
}

/* BEGIN LOGIN */

.m-login__welcome {
    color: white !important;
    font-size: 50px;
}
.m-login__msg {
    color: white;
}

/* END LOGIN */


/* BEGIN OTHERS */
.m-scroll-top {
    background-color: #5b5c3f !important;
    border: 2px solid #BEA850;
}
.hidden {
    display: none !important;
}
.required:after{
    color: red;
    content: " *";

}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.img-preview {
    width: 100%;
    margin-top: 10px;
}
.label-data {
    padding-top: 10px;
}
#m_table_1_filter, #m_table_2_filter, #m_table_3_filter, #m_table_4_filter, #m_table_5_filter, .dataTables_filter  {
    right: 14px;
    position: absolute;
}
#m_table_1_paginate, #m_table_2_paginate, #m_table_3_paginate, #m_table_4_paginate, #m_table_5_paginate, .dataTables_paginate.paging_full_numbers {
    right: 14px;
    position: absolute;
}
.text {
    color: lightgray;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}
.m-subheader__breadcrumbs .m-nav__separator i {
    font-size: 10px;
}

.produksi-buttons {
    position: fixed;
    bottom: 40px;
    left: 42%;
    z-index: 10000;
}

.target-produksi-buttons {
    position: fixed;
    bottom: 40px;
    left: 38%;
    z-index: 10000;
}
.data-detail-section .row {
    padding: 0 !important;
}
.data-detail-section label {
    font-weight: bold;
}
.icon-status {
    font-size: 20px;
}
.text-info {
    font-weight: bold !important;
}
.form-no-padding .form-group {
    padding: 0 !important;
    margin: 0 !important;
}
.form-no-padding .form-group label, .form-no-padding .form-group div {
    padding: 0 !important;
}
.form-no-padding .form-group h2 {
    font-weight: normal !important;
}

/* END OTHERS */


@media (max-width: 768px) {
    .m-header--fixed .m-brand__logo-wrapper img {
        width: 40px;
    }
    .m-brand__logo-wrapper {
        font-size: 20px !important;
    }
}
@media (min-width: 992px) {
    .modal-xlg {
        max-width: 1100px;
    }
    .modal-xxlg {
        max-width: 1200px;
    }
    .modal-full {
        max-width: 98%;
    }
}
@media (min-width: 1200px) {
    .m-menu__nav > li {
        /*padding: 24px 16px 24px 16px !important;*/
    }
    .m-header-menu {
        /*margin: auto !important;*/
    }
    .m-body.m-container--fluid {
        /*padding: 0px 20px;*/
    }
}

.wrapper-loading {
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: 100000;
}
.wrapper-loading-2 {
    top: 30%;
    left: 45%;
    position: absolute;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.load {
    position: relative;
    margin: 50px auto;
    width: 100px;
    height: 80px;
}

.gear {
    position: absolute;
    z-index: -10;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 5s infinite;
    animation: spin 5s infinite;
}

.two {
    left: 40px;
    width: 80px;
    height: 80px;
    -webkit-animation: spin-reverse 5s infinite;
    animation: spin-reverse 5s infinite;
}

.three {
    top: 45px;
    left: -10px;
    width: 60px;
    height: 60px;
}

.amExportButton {
    display: none !important;
}

.m-widget27 .m-widget27__pic .m-widget27__title>span {
    font-size: 2.5rem !important;
}
.m-widget27 .m-widget27__pic .m-widget27__title>span>span {
    font-size: 1.5rem;
    padding-right: 1rem;
}

@-webkit-keyframes spin {
    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes spin-reverse {
    50% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes spin-reverse {
    50% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}


