@font-face {
    font-family: "Roboto";
    src: url("Roboto-Medium.ttf");
}
* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-repeat: repeat-y;
    background-size: 100%;
}


h1 {
    font-size: 1.5em;
    color: #222;
}

h2 {
    font-size: .9em;
}

h3 {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 2em;
}

p {
    font-size: .7em;
    color: #666;
    line-height: 1.2em;
}


#invoice {
    margin: 0 auto;
    width: 100%;
    background: #FFF;
}

[id*='invoice-'] { /* Targets all id with 'col-' */
    border-bottom: 1px solid #EEE;
    padding: 30px;
}

#invoice-top {
    min-height: 120px;
}

#invoice-mid {
    min-height: 120px;
}

#invoice-bot {
    min-height: 250px;
}

.logo {
    float: left;
    height: 70px;
    width: 70px;
    background-size: 60px 60px;
}

.clientlogo {
    float: left;
    height: 60px;
    width: 60px;
    background: url(http://michaeltruong.ca/images/client.jpg) no-repeat;
    background-size: 60px 60px;
    border-radius: 50px;
}

.info {
    display: block;
    float: left;
    margin-left: 20px;
}

#invoice-mid > .info {
    margin-left: 0 !important;
    width: 50%;
}

.info table {
    font-size: 10px !important;
}

.title {
    float: right;
    height: 70px;
    width: 250px;
    background-size: 60px 60px;
    margin-right: -30px;
    text-align: right;
    font-size: 12px;
}

.title td {

}

.title p {
    text-align: right;
}

.project {
    display: block;
    float: right;
    width: 45%;
    font-size: 10px;
}
.project h3 {
    margin-top: -10px !important;
    padding-top: 0px !important;
}

#table table {
    width: 100%;
    border-collapse: collapse;
}

#table td, #table th {
    padding: 5px 5px 5px 15px;
    border: 1px solid #EEE
}

.tabletitle {
    padding: 5px;
    background: #EEE;
}
.tabletitle h2 {
    font-size: 12px;
}

.service {
    border: 1px solid #EEE;
}

.item {

}

.itemtext {
    font-size: .7em;
}

#legalcopy {
    float: left;
}

#ttd {
    float: right;
    margin: 0px 40px;
    font-size: 12px;
}

hr {
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: none !important;
}

.table-header {
    border-left: 0.01em solid #ccc;
    border-right: 0;
    border-top: 0.01em solid #ccc;
    border-bottom: 0;
    border-collapse: collapse;
}
.table-header td,
.table-header th {
    border-left: 0;
    border-right: 0.01em solid #ccc;
    border-top: 0;
    border-bottom: 0.01em solid #ccc;
    padding: 2px 4px;
    font-size: 12px;
}
.table-header td {
    font-size: 12px;
}


.table-ttd {
    border-left: 0.01em dotted #ccc;
    border-right: 0;
    border-top: 0.01em dotted #ccc;
    border-bottom: 0;
    border-collapse: collapse;
}
.table-ttd td,
.table-ttd th {
    border-left: 0;
    border-right: 0.01em dotted #ccc;
    border-top: 0;
    border-bottom: 0.01em dotted #ccc;
    padding: 2px 4px;
    font-size: 12px;
}
.table-ttd td {
    font-size: 12px;
}